{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}

    {% block payum_stylesheets "" %}
{% endblock %}

{% block content_header_more %}
    {{ parent() }}
    
    <li><a href="{{ path('acme_payment_homepage') }}">Demo Home</a></li>
    <li><a href="{{ path('acme_payment_notifications_list') }}">Instant notifications</a></li>
    <li><a href="http://payum.org/doc" target="_blank">Documentation</a></li>
{% endblock %}

{% block content %}
    {{ parent() }}

    {% block payum_content %}
    {% endblock %}

    {% block payum_body %}
    {% endblock %}

    {% block payum_javascripts "" %}
{% endblock %}