{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title "Paypal express checkout demo - Create recurring payment" %}

{% block content %}
    <div class="block">
        Billing agreement status:
        {% if billingAgreementStatus.captured %}
            Successful
        {% elseif billingAgreementStatus.canceled %}
            Canceled
        {% elseif billingAgreementStatus.failed %}
            Failed
        {% elseif billingAgreementStatus.pending %}
            Pending
        {% elseif billingAgreementStatus.expired %}
            Expired
        {% elseif billingAgreementStatus.suspended %}
            Suspended
        {% else %}
            Unknown
        {% endif %}
    </div>
    <div class="block">
        <ul>
            {% for key, value in billingAgreementStatus.model %}
                <li>{{ key }}: {{ value|json_encode|raw }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if recurringPaymentStatus %}
        <div class="block">
            Recurring payment status:
            {% if recurringPaymentStatus.captured %}
                Active
            {% elseif recurringPaymentStatus.canceled %}
                Canceled
            {% elseif recurringPaymentStatus.failed %}
                Failed
            {% elseif recurringPaymentStatus.pending %}
                Pending
            {% elseif recurringPaymentStatus.expired %}
                Expired
            {% elseif recurringPaymentStatus.suspended %}
                Suspended
            {% else %}
                Unknown
            {% endif %}
            
            {% if cancelToken %}
                &nbsp;(<a href="{{ cancelToken.targetUrl }}">Cancel</a>)
            {% endif %}
        </div>
        <div class="block">
            <ul>
                {% for key, value in recurringPaymentStatus.model %}
                    <li>{{ key }}: {{ value|json_encode|raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% set code = code(_self) %}