{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title "Payment demo" %}

{% block content %}
    <ol>
        
        <h3>Paypal Express Checkout</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_paypal_express_checkout") }}">Simple purchase</a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_digital_goods_simple_purchase_paypal_express_checkout") }}">Simple purchase of <b>digital goods</b></a>
        </li>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_paypal_express_checkout_doctrine") }}">Simple purchase, using <b>doctrine</b> as storage</a>
        </li>

        <h3>Authorize.Net</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_authorize_net") }}">Purchase with <b>authorize.net</b></a>
        </li>

        <h3>Be2Bill</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_be2bill") }}">Purchase with <b>be2bill</b></a>
        </li>

        <h3>Omnipay</h3>
        <li>
            <a href="{{ path("acme_payment_prepare_simple_purchase_paypal_express_via_omnipay") }}">Purchase with paypal express checkout via <b>omnipay</b></a>
        </li>
    </ol>
{% endblock %}

{% set code = code(_self) %}